@import 'tailwindcss';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-main-light: #fdfdfd;
  --bg-main-dark: #111;
}

@theme inline {
  --font-main: var(--font-bokor);
}

.animated-link:link {
  display: inline-block;
  padding: 5px 0;
  position: relative;
}

.animated-link:link::after {
  content: '';
  position: absolute;
  transition: all;
  transition-duration: 300ms;

  height: 2px;
  width: 0;

  bottom: 0;
  left: 0;
}

.animated-link:link:hover:after {
  width: 100%;
}
