@import 'tailwindcss';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-main-light: #fdfdfd;
  --bg-main-dark: #111;
}

@theme inline {
  --font-main: var(--font-bokor);
}

.animated-link:link {
  display: inline-block;
  padding: 5px 0;
  position: relative;
}

.animated-link:link::after {
  content: '';
  position: absolute;
  transition: all;
  transition-duration: 300ms;

  height: 2px;
  width: 0;

  bottom: 0;
  left: 0;
}

.animated-link:link:hover:after {
  width: 100%;
}

.custom-box-shadow-1 {
  box-shadow: 0 0 0.5px 0.25px rgba(0, 0, 0, 0.2);
}

.custom-box-shadow-1:hover {
  box-shadow: 0 2.5px 2.5px 1.5px rgba(10, 10, 10, 0.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(5px);
  }
  40% {
    opacity: 1;
    transform: scale(0.875);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}
